/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.instructions{
  margin: 1rem 2rem;
}

h2{
  text-align: center;
}


img{
  display: block;
  margin: 0 auto;
  height: 200px;
}

.carousel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.card{
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
  width: 50%;
}

.hidden{
  display : none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.title{
  text-align: center;
  font-size: 3rem ;
}

.previous, .next{
  font-size: 2rem;
  
}

.previous:hover, .next:hover{
  font-weight: 600;
}

a{
  cursor: pointer;
}